@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Overpass:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: metro;
  src: url(assets/fonts/Metro.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(./assets/background.png);
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  z-index: 9999999;
}

.balloon {
  animation: ballonAnimation 40s linear infinite;
  animation-fill-mode: forwards;
  z-index: -1;
}
.balloon2 {
  animation: ballonAnimation2 40s linear infinite;
  animation-fill-mode: forwards;
  animation-delay: 12s;
}

@keyframes ballonAnimation {
  from {
    bottom: 0%;
  }
  to {
    bottom: 100%;
  }
}
@keyframes ballonAnimation2 {
  from {
    bottom: 0%;
    left: 10%;
  }
  to {
    bottom: 100%;
    left: 40%;
  }
}
